@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #000;
    color: #fff;
}
.text-glow {
    text-shadow: 0 0 8px theme('colors.primary-yellow'), 0 0 20px rgba(255, 235, 59, 0.5);
}
